<ion-view title="Create A Team">
    <ion-content padding="'true'" class="has-header">
    <div ng-app="app">
        <form class="list" ng-submit="createTeam()">
            <label class="item item-input" name="teamname">
                <input type="text" placeholder="Team Name" ng-model="team.teamName"> {{ team.teamName }}
            </label>
            <div class="spacer" style="height: 100px;"></div>
            <button menu-close="" href="#/roster" type="submit" class="button button-stable button-block ">Done</button>
        </form>
    </div>
    </ion-content>
</ion-view>