<ion-view title="Gauntlet">
    <ion-content padding="'true'" class="has-header">
        <div class="title">
            <span class="welcome">Welcome to</span>
            <span class="bold-text big-text">Gauntlet</span>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <a menu-close="" href="#/login" class="button button-stable button-block ">Log in</a>
        <a menu-close="" href="#/register" class="button button-stable button-block ">Register</a>
    </ion-content>
</ion-view>