<ion-view title="GAUNTLET">
    <ion-content padding="'true'" class="has-header">
      <div ng-controller="GauntletCtrl">
        <a ng-hide="userInTeam" ui-sref="createTeam" menu-close="" class="button button-stable button-block ">Create A Team</a>
        <a ng-hide="!userInTeam" ui-sref="roster" menu-close="" class="button button-stable button-block ">Current Team</a>
        <a ng-hide="userInTeam" ui-sref="joinTeam" menu-close="" class="button button-stable button-block ">Join A Team</a>
      </div>
    </ion-content>
</ion-view>
