<ion-view title="JOUSTING">
    <ion-content padding="'true'" class="has-header">
        <div class="title">
            <span class="welcome"><strong>Compete for Victory</strong></span>
            <span class="bold-text big-text"> -<u>With Friends</u>, <u>Against Friends</u>.</span>
            <!--joust header image-->
            <span id="home-img"></span>
        </div>
        <div class="spacer" style="height: 90px;"></div>
        <a menu-close="" href="#/login" class="button button-stable button-block ">Account Login</a>
        <a menu-close="" href="#/register" class="button button-stable button-block ">Register an Account</a>
    </ion-content>
</ion-view>