<!-- <ion-view title="Home">
    <ion-content padding="'true'" class="has-header">
        <a menu-close="" href="#/create-a-team" class="button button-stable button-block ">Create A Team</a>
        <a menu-close="" href="#/join-a-team" class="button button-stable button-block ">Join A Team</a>
    </ion-content>
</ion-view> -->
<ion-view title="Home">
    <ion-content>
        <a href="#/create-a-team" class="button button-stable button-block ">Create A Team</a>
        <a href="#/join-a-team" class="button button-stable button-block ">Join A Team</a>
    </ion-content>
</ion-view>
