<ion-view ng-controller="JoinATeamCtrl" title="Join A Team">
    <ion-content padding="'true'" class="has-header">
    <div ng-app="app">
        <form class="list" ng-submit="joinTeam()">
            <label class="item item-input" name="Team Name">
                <input type="text" placeholder="Team Name" ng-model="team.teamName">
                {{ team.teamName }}
            </label>
            <div class="spacer" style="height: 100px;"></div>
            <input menu-close="" type="submit" value="Done" class="button button-stable button-block " />
        </form>
    </div>
    </ion-content>
</ion-view>