<ion-view title="Join A Team">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-navicon-round" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content ng-controller="JoinTeamCtrl" padding="'true'" class="has-header main-page">
    <form class="list" ng-submit="joinTeam()">
      <label class="item item-input" name="Team Name">
        <input type="text" placeholder="Team Name" ng-model="team.teamName"> {{ team.teamName }}
      </label>
      <div class="spacer" style="height: 100px;"></div>
      <input menu-close="" type="submit" value="Done" class="button button-royal button-block"/>
    </form>
  </ion-content>
</ion-view>
