<ion-view title="Login">
  <ion-content ng-controller="LoginCtrl" padding="'true'" class="has-header main-page">
    <form ng-submit="submit()" name="login" class="list" novalidate>
      <ion-list>
        <label class="item item-input">
          <input name="email" ng-model="user.email" type="text" placeholder="Email" required/>
        </label>
        <label class="item item-input">
          <input name="password" ng-model="user.password" type="password" placeholder="Password" required/>
        </label>
      </ion-list>
      <button ng-disabled="login.$invalid" type="submit" class="button button-stable button-block">Login</button>
      <a class="button button-stable button-block" ui-sref="app.register">Register</a>
      <label class="item">
        <button ng-click="authenticate('facebook')" class="button button-block button-positive">
          Login with Facebook</button>
      </label>
    </form>
  </ion-content>
</ion-view>