<ion-view title="Login">
    <ion-content padding="'true'" class="has-header">
        <form class="list" ng-submit="login()">
            <ion-list>
                <label class="item item-input">
                    <input type="text" ng-model="user.userName" name="userName" placeholder="Username"/>
                </label>
                <label class="item item-input">
                    <input type="password" ng-model="user.password" name="password"  placeholder="Password"/>
                </label>
            </ion-list>
            <input type="submit" menu-close="" class="button button-stable button-block " value="Log in"/>
        </form>
        <a menu-close="" href="#/register" class="button button-stable button-block ">Register</a>
    </ion-content>
</ion-view>