<ion-view title="Register an account">
    <ion-content padding="'true'" scroll="false" class="has-header">
    <div ng-app='app'>
        <form class="form-auth" ng-submit="register()" action="/auth/register" method="post">
            <ion-list>
                <label class="item item-input">
                    <input type="text" ng-model="user.fullName" name="name" placeholder="Name">
                </label>
                <label class="item item-input">
                    <input name="userName" ng-model="user.userName" type="text" placeholder="Username">
                </label>
                <label class="item item-input">
                    <input name="email" ng-model="user.email" type="email" placeholder="Email">
                </label>
                <label class="item item-input">
                    <input name="password" ng-model="user.password" type="password" placeholder="Password">
                </label>
            </ion-list>
            <input type="submit" menu-close="" class="button button-stable button-block " value="Submit Registration" />
        </form>
        <a menu-close="" href="#/login" class="button button-stable button-block ">Already have an account?</a>
        </div>
    </ion-content>
</ion-view>