<ion-view title="Register">
    <ion-content padding="'true'" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="Name">
                    <input type="text" placeholder="Name">
                </label>
                <label class="item item-input" name="Username">
                    <input type="text" placeholder="Username">
                </label>
                <label class="item item-input" name="Email">
                    <input type="email" placeholder="Email">
                </label>
                <label class="item item-input" name="Password">
                    <input type="password" placeholder="Password">
                </label>
            </ion-list>
            <a menu-close="" href="#/home" class="button button-stable button-block ">Register</a>
        </form>
        <a menu-close="" href="#/login" class="button button-stable button-block ">Log in</a>
    </ion-content>
</ion-view>