<ion-view title="Roster">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-navicon-round" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content ng-controller="RosterCtrl"  padding="'true'" class="has-header main-page">
      <h3>Team: {{ teamInfo.teamName }}</h3>
      <ion-list>
        <h4>Challengers</h4>
        <ul>
          <li ng-repeat="users in teamInfo.users">
            <ion-item menu-close="" class="item-thumbnail-left challenger-listing">
              <img ng-src="{{ teamInfo.users[$index].picture }}">
              <h2 style="float:left;">{{ teamInfo.users[$index].fullName }}</h2><h2 style="float:right;">points: {{ teamInfo.users[$index].points }}</h2>
            </ion-item>
          </li>
        </ul>
      </ion-list>
      <div class="spacer" style="height: 90px;"></div>
      <a menu-close="" ui-sref="app.challenges" class="button button-stable button-block ">Challenges</a>
      <a menu-close="" ng-controller="LeaveTeamCtrl" ng-click="leaveTeam()" class="button button-stable button-block ">Leave Team</a>
  </ion-content>
</ion-view>
