<body ng-app="app">
<ion-content overflow-scroll="true" padding="true" class="has-header">
        <h3>The Kevin Challenge</h3>
        <div>
            <p>Take a picture of your own face #nofilter #selfie #yolo #swag</p>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <button class="button button-positive button-block ">Upload Photo</button>
    </ion-content>
  <ion-content class="has-header padding" ng-controller="ImageController">
    <button class="button button-full button-energized" ng-click="addMedia()">
      Add image
    </button>
    <!--<button class="button button-full button-positive" ng-click="sendEmail()">
      Send mail
    </button>-->
    <br><br>
    <ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
      <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" style="height:200px; padding: 5px 5px 5px 5px;"/>
    </ion-scroll>
  </ion-content>
</body>
