<ion-side-menu side="left">
  <div class="list" ng-controller="LogoutCtrl">
    <a menu-close="" class="item item-icon-left" ui-sref="gauntlet">
      <i class="icon ion-home"></i> Home
    </a>
    <a menu-close="" class="item item-icon-left" ui-sref="challenges">
      <i class="icon ion-social-buffer"></i> Challenges
    </a>
    <a menu-close="" class="item item-icon-left" ui-sref="roster">
      <i class="icon ion-ios-people"></i> Team Roster
    </a>
    <a menu-close="" class="item item-icon-left" ui-sref="create-a-team">
      <i class="icon ion-person-add"></i> Create A Team
    </a>
    <a menu-close="" class="item item-icon-left" ui-sref="join-a-team">
      <i class="icon ion-person-stalker"></i> Join A Team
    </a>
    <a menu-close="" ui-sref="logout" class="item item-icon-left">
      <i class="icon ion-log-out"></i> Log Out
    </a>
  </div>
</ion-side-menu>