<ion-view ng-controller="SubmissionCtrl" title="Submissions">
<ion-nav-buttons side="left">
    <button class="button button-icon ion-navicon-round" menu-toggle="left"></button>
  </ion-nav-buttons>
    <ion-content padding="'true'" class="has-header main-page">
    <div ng-app="app">
        <h3>{{ challengesInTeam }}</h3>
        <ion-list>
            <!-- <ul>
                <li ng-repeat="img in imgURL">
                    <img ng-src="{{img}}"/>
                </li>
            </ul> -->

            <!-- <img ng-repeat="users in teamInfo.users" ng-src="getSubmissionInfo/{{teamInfo.users[$index]['userName']}}/{{challengesInTeam}}"/> -->

            <ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
                <img ng-repeat="img in imgURL" ng-src="{{img}}"/>
            </ion-scroll>
        </ion-list>
        <div class="spacer" style="height: 90px;"></div>
        <a menu-close="" ui-sref="app.challenges" class="button button-stable button-block ">Challenges</a>
    </div>
    </ion-content>
</ion-view>
