<ion-view title="The Team">
    <ion-content padding="'true'" class="us has-header">
        <h3>Ricky &amp; The Walkers</h3>
        <ion-list>
            
            <ion-item menu-close="" class="trans item-thumbnail-left">
                <img class="user-image" src="img/QonE6znSy66AXyLW3wmg_Screen Shot 2015-12-03 at 7.53.22 AM.png">
                <span class="dev-name">Jonathan Kvicky</span> <span>- Product Owner</span><br>
        
    <a href="http://github.com/jonkvix"><button class="button button-stable soc-button"><span class="fa fa-github soc-link"></span></button></a>
    <a href="http://linkedin.com/in/jonkvix"><button class="button button-stable soc-button"><span class="fa fa-linkedin soc-link"></span></button></a>
    <a href="http://jonkvix.com"><button class="button button-stable soc-button"><span class="fa fa-globe soc-link"></span></button></a>
            </ion-item>

            <ion-item menu-close="" class="trans item-thumbnail-left">
                <img class="user-image" src="img/MZ0UDKplQGia0OkBShZS_avi.jpg">
                <span class="dev-name">Avi Samloff</span> <span>- Scrum Master</span><br>

    <a href="http://github.com/theavish"><button class="button button-stable soc-button"><span class="fa fa-github soc-link"></span></button></a>
    <a href="http://linkedin.com/in/avisamloff"><button class="button button-stable soc-button"><span class="fa fa-linkedin soc-link"></span></button></a>
    <a href="http://avisamloff.com"><button class="button button-stable soc-button"><span class="fa fa-globe soc-link"></span></button></a>
            </ion-item>

            <ion-item menu-close="" class="trans item-thumbnail-left">
                <img class="user-image" src="img/YKIpnnZUTvC5sY4aTYfo_Screen Shot 2015-12-03 at 7.54.02 AM.png">
                <span class="dev-name">Jeffery Yang</span> <span>- Development Team</span><br>

    <a href="http://github.com/jeffycyang"><button class="button button-stable soc-button"><span class="fa fa-github soc-link"></span></button></a>
    <a href="http://linkedin.com/in/jeffycyang"><button class="button button-stable soc-button"><span class="fa fa-linkedin soc-link"></span></button></a>
    <a href="http://jeffycyang.github.io"><button class="button button-stable soc-button"><span class="fa fa-globe soc-link"></span></button></a>
            </ion-item>

            <ion-item menu-close="" class="trans item-thumbnail-left">
                <img class="user-image" src="img/Q8lFct0yTF2CtsyX850Y_600232_10151149200186519_191777586_n.jpg">
                <span class="dev-name">Kevin Cheng</span> <span>- Development Team</span><br>

    <a href="http://github.com/k-cheng"><button class="button button-stable soc-button"><span class="fa fa-github soc-link"></span></button></a>
    <a href="http://linkedin.com/in/kcheng2"><button class="button button-stable soc-button"><span class="fa fa-linkedin soc-link"></span></button></a>
    <a href="http://k-cheng.github.io"><button class="button button-stable soc-button"><span class="fa fa-globe soc-link"></span></button></a>
            </ion-item>

            <ion-item menu-close="" class="trans item-thumbnail-left">
                <img class="user-image" src="img/z91U0MVqSb6S0LNhhLPd_Screen Shot 2015-12-03 at 7.53.52 AM.png">
                <span class="dev-name">Cory Dang</span> <span>- Development Team</span><br>

    <a href="http://github.com/coryd4ng"><button class="button button-stable soc-button"><span class="fa fa-github soc-link"></span></button></a>
    <a href="http://www.linkedin.com/in/corydang"><button class="button button-stable soc-button"><span class="fa fa-linkedin soc-link"></span></button></a>
    <a href="http://github.com/coryd4ng"><button class="button button-stable soc-button"><span class="fa fa-globe soc-link"></span></button></a>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>
